:root{
  --deeper-color:rgb(6, 5, 19);
  --primary-color:rgb(5, 15, 34);
  --sec-color: rgb(29, 197, 189);
}
body{
  background-color: var(--deeper-color)
}
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
nav{
  font-size: 15px;
  font-family: 'Press Start 2P', cursive;
  background-color: var(--primary-color);
  height: 120px;
  color: white;
  padding: 10px;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: var(--primary-color);
  color: var(--sec-color);
  font-family: fira code;
}
.container h2{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size:2rem;
  margin: 50px;
}
.container .inputContainer{
  display: flex;
  flex-direction: column;
  width: 90%;
  position: relative;
}
.inputContainer input{
  outline: none;
  padding: 5px;
  font-size: 20px;
  font-family: fira code;
  color: var(--deeper-color);
  border: 2px solid var(--deeper-color);
}
.error{
  background-color: crimson;
  color: aliceblue;
  font-size: 30px;
  margin-top: 20px;
}
.inputContainer button{
  padding: 8px;
  background-color: var(--deeper-color);
  border: none;
  color: var(--sec-color);
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  cursor: pointer;
  border: 2px solid;
}
.details{
  background-color: rgba(220, 20, 60, 0.062);
  margin-top: 10px;
  padding: 10px;
}
.details p{
  display: flex;
  justify-content: space-between;
  font-size: 15px;
}
.details p span{
  font-weight: bolder;
}
.input-error{
  position: absolute;
  top: -20px;
  color: crimson;
}
@media screen and (min-width:1024px) {
  .container .inputContainer{
    flex-direction: row;
    justify-content: center;
    width: 90%;
    
  }
}